.story {
  &__header {
    margin-bottom: 100px;
    margin-top: 50px;
  }

  &__start {
    margin-bottom: 100px;
  }

  &__company {
    margin-bottom: 100px;
  }

  &__directors {
    margin-bottom: 100px;
  }
}

.start {
  display: flex;
  min-height: 450px;
  align-items: center;
  column-gap: 80px;
  @media (max-width: $md1) {
    column-gap: 20px;
  }
  @media (max-width: $md3) {
    flex-direction: column;
    row-gap: 30px;
  }

  &.container {
    @media (max-width: $md4) {
      padding: 0 10px;
    }
  }
  &__image {
    flex: 0 0 450px;
    height: 450px;
    @media (max-width: $md2) {
      flex: 0 0 350px;
      height: 350px;
    }
    @media (max-width: $md3) {
      flex: 0 0 450px;
      height: 450px;
    }
    @media (max-width: $md5) {
      flex: 0 0 300px;
      height: 300px;
    }
  }
  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__body {
    flex: 0 1 820px;
    padding: 45px 60px 60px 75px;
    background-color: #f1eecf;
    border-radius: 75px 0px 75px 75px;
    @media (max-width: $md3) {
      padding: 45px 20px 60px 30px;
      flex: 0 0 auto;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
  }
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.company {
  position: relative;

  & .container {
    @media (max-width: $md3) {
      padding: 0;
    }
  }
  &__image {
    height: 705px;
    max-width: 1800px;
    margin: 0 auto;
    @media (max-width: $md2) {
      height: 400px;
    }
  }
  &__image img {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: 50% 100%;
    position: relative;
  }

  &__body {
    background-color: #f1eecf;
    z-index: 10;
    position: relative;
    margin-right: 35px;
    padding: 50px 55px 70px 70px;
    max-width: 1000px;
    border-radius: 0px 75px 75px 75px;
    margin: 0 auto;
    display: block;
    border-radius: 0px 0px 75px 75px;

    @media (max-width: $md5) {
      padding: 50px 30px 30px 30px;
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
  }
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.directors {
  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 90px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px 35px;
    @media (max-width: $md2) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: $md4) {
      grid-template-columns: 1fr;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-column: span 2;
    align-items: center;
    text-align: center;
  }
  &__item:nth-child(2) {
    grid-column: 4/6;
    @media (max-width: $md2) {
      grid-column: span 2;
    }
  }

  &__item:nth-child(2):before {
    position: absolute;
    content: "";
    background-color: #e2e9f2;

    width: 580px;
    height: 615px;
    bottom: -50px;
    border-radius: 250px 0px 200px 0px;
    z-index: -1;

    @media (max-width: $md2) {
      width: 480px;
      height: 515px;
    }
    @media (max-width: $md4) {
      display: none;
    }
  }
  &__item:first-child {
    grid-column: 2/4;
    @media (max-width: $md2) {
      grid-column: span 2;
    }
  }
  &__item:first-child:before {
    position: absolute;
    content: "";
    background-color: #e2e9f2;

    width: 525px;
    height: 550px;
    bottom: -200px;
    right: 20px;
    border-radius: 0px 200px 0px 250px;
    z-index: -1;
    @media (max-width: $md2) {
      right: 0;
      width: 425px;
      height: 450px;
    }
    @media (max-width: $md4) {
      display: none;
    }
  }

  &__item:last-child {
    @media (max-width: $md2) {
      grid-column: 2/4;
    }
    @media (max-width: $md4) {
      grid-column: auto;
    }
  }

  &__image {
    margin-bottom: 20px;
  }
  &__image img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__item-head {
  }

  &__name {
    font-family: Times;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
  }

  &__job-title {
  }

  &__desc {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
