.hero {
  padding-bottom: 160px;
  position: relative;
  @media (max-width: $md4) {
    padding-bottom: 30px;
  }

  &__body {
    height: 720px;
    position: relative;

    @media (max-width: $md4) {
      height: auto;
    }
  }

  &__image img {
    padding: 0 30px;

    @media (max-width: $md4) {
      padding: 0;
      position: static;
      height: 720px;
    }

    @media (max-width: $md5) {
      height: 480px;
    }
  }

  &__text-block {
    position: absolute;
    z-index: 3;
    background-color: #e2e9f2;
    padding: 60px 35px 55px 60px;
    border-radius: 0px 75px 75px 75px;
    max-width: 640px;
    bottom: -100px;
    left: 50px;

    @media (max-width: $md4) {
      padding: 35px;
      position: static;
      margin: 0 -20px;
    }
  }

  &__title {
    @include adaptiv-font(36, 28, 1);
    padding-bottom: 30px;
  }

  &__text {
    font-size: 20px;
  }
}

.gallery {
  padding: 0 30px;
  @include adaptiv-value("padding-bottom", 72, 32, 1);

  @media (max-width: $md3) {
    padding-left: 0;
    padding-right: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    @media (max-width: $md3) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    padding: 0px 0px 63% 0px;
    overflow: hidden;
  }
  &__item:first-child {
    border-radius: 0 0 100px 0;
  }
  &__item:nth-child(2) {
    border-radius: 0 0 0 100px;
  }
  &__item:nth-child(3) {
    border-radius: 0 100px 0 0;
  }
  &__item:last-child {
    border-radius: 100px 0 0 0;
  }
  &__image-gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form-function {
  &__header {
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    @include adaptiv-value("padding-bottom", 72, 32, 1);
  }

  &__title {
    @include title;
    @include adaptiv-font(40, 32, 1);
    padding-bottom: 15px;
  }

  &__desc {
    font-size: 18px;
  }

  &__body {
    display: grid;
  }

  &__image-block {
    min-height: 720px;
    position: relative;

    @media (max-width: $md3) {
      min-height: auto;
    }

    .container {
      height: 100%;
      position: relative;

      @media (max-width: $md3) {
        height: auto;
      }
    }
  }

  &__text-block {
    max-width: 370px;
    z-index: 2;
    position: absolute;

    &.position_right {
      margin-left: 70%;

      @media (max-width: $md3) {
        margin-left: 0;
      }
    }

    @media (max-width: $md3) {
      position: static;
      margin: 0;
      padding: 0;
      padding-bottom: 30px;
      max-width: 570px;
    }
  }

  &__text {
    font-size: 18px;
  }

  &__image {
    img {
      @media (max-width: $md3) {
        position: static;
        padding-bottom: 24px;
      }
    }
  }

  &__border-radius {
    img {
      @media (max-width: $md3) {
        border-radius: 0;
      }
    }
  }

  &__grid {
    background-color: #d9e0ce;
    border-radius: 200px 0 0 0;
    padding: 40px;
    @include adaptiv-value("margin-bottom", 60, 48, 1);

    @media (max-width: $md4) {
      padding: 30px 20px;
      border-radius: 0;
    }

    .container {
      padding: 0;
    }
  }

  &__grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px 40px;
    @media (max-width: $md3) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 30px;
    }

    .form-function__text {
      padding: 0 100px;
      @media (max-width: $md3) {
        padding: 0 20px;
      }
    }
  }

  &__grid-image_first {
    border-radius: 150px 0 0 0;
    overflow: hidden;

    @media (max-width: $md4) {
      border-radius: 0;
    }
  }

  &__grid-image_last {
    @media (max-width: $md3) {
      grid-row: 3/4;
    }
  }

  &__grid-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: $md4) {
      height: 300px;
    }
  }
}

.small {
  @include adaptiv-value("padding-bottom", 100, 40, 1);

  &__image-block {
    position: relative;
    height: 720px;
    padding: 0 20px;
    @include adaptiv-value("margin-bottom", 40, 32, 1);
  }

  &__image img {
    padding: 0 30px;

    @media (max-width: $md3) {
      padding: 0;
    }
  }

  &__text-block {
    padding-left: 20px;
    padding-right: 20px;
    @include adaptiv-value("padding-bottom", 100, 40, 1);
    max-width: 720px;
    margin: auto;
    text-align: center;
  }

  &__title {
    font-size: 26px;
    padding-bottom: 16px;
  }

  &__text {
    font-size: 18px;
  }

  &__button-block {
    text-align: center;
  }
}
