/************************************************UrbanBlog****/
/*==================header=============*/
/*==================list=============*/
.feed {
  margin-top: 50px;

  &__header {
    margin-bottom: 25px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__desc {
    font-size: 24px;

    font-weight: 400;
    line-height: 135%; /* 32.4px */
    letter-spacing: 1.2px;
  }

  &__input {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
  }

  &__input:before {
    content: " ";
    display: block;
    border: 2px solid black;
    border-radius: 7px;
    justify-self: flex-start;
    width: 27px;
    height: 27px;
  }
  &__label {
    display: flex;
    flex-direction: row;
    gap: 15px;

    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.68px;

    align-items: center;
  }

  &__input:after {
    content: " ";
    opacity: 0;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    justify-self: flex-start;
    padding: 9px;
    transform: translate(24%, 24%);
    transition-duration: 0.2s;
  }
  &__input:checked:after {
    opacity: 1;
  }

  &__button-more {
    padding: 30px 60px;
    background-color: white;
    color: #878787;
    font-family: Helvetica;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
  }
}

.catalog-list {
  margin-bottom: 100px;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 463px);
    gap: 30px;
    justify-content: center;
    @media (max-width: $md1) {
      grid-template-columns: 463px 463px;
      column-gap: 70px;
    }
    @media (max-width: $md3) {
      grid-template-columns: minmax(auto, 550px);
    }
  }

  &__button {
    padding: 43px 100px;
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
    grid-row: -1/-2;
    grid-column: 1/4;
    margin: 50px 0px;
  }
}

/*==================Blog===============*/
/*==================footer=============*/
