.article {
  padding-top: 32px;
  @include adaptiv-value("padding-bottom", 100, 32, 1);

  p {
    line-height: 150%;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    @include title;
    line-height: 130%;
  }

  h1 {
    @include adaptiv-value("padding-bottom", 50, 24, 1);
    font-size: 44px;
  }

  h2 {
    @include adaptiv-value("padding-top", 58, 40, 1);
    @include adaptiv-value("padding-bottom", 40, 24, 1);
    font-size: 32px;
  }

  h3 {
    padding-top: 10px;
    padding-bottom: 24px;
    font-size: 24px;
  }

  h4 {
    padding-top: 10px;
    padding-bottom: 24px;
    font-size: 20px;
  }

  a {
    &:not(.button) {
      color: #337ab7;
    }

    &:hover:not(.button),
    &:focus:not(.button) {
      color: darken(#337ab7, 10%);
    }
  }

  ul,
  ol {
    padding: 0 0 24px 40px;
  }

  ol li {
    list-style: decimal;
  }

  ul li {
    list-style: inside;
  }

  li {
    list-style: initial;
    line-height: 150%;
    padding-bottom: 10px;
  }

  li p {
    padding: 15px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
