// houzze
body {
  position: relative;

  &:before {
    content: "";
    position: fixed;
    width: 135px;
    height: 135px;
    background-image: url("../img/homepage/hero-page-sticker.png");
    background-repeat: no-repeat;
    z-index: 1000;
    bottom: 40vh;
    background-size: cover;
    @media (max-width: $md5) {
      width: 55px;
      height: 55px;
      bottom: 30px;
    }
  }
}
/*==================hero============*/

.hero {
  margin-bottom: 100px;
  position: relative;

  &__wrap {
    position: relative;
    height: 720px;
    box-sizing: border-box;
    @media (max-width: $md3) {
      height: auto;
    }
  }

  &__wrap .container {
    height: 100%;
    position: relative;
  }

  &__wrap:before {
    content: " ";
    position: absolute;
    background-color: #ebdbdb;
    height: 528px;
    width: 150vh;
    left: 50%;
    bottom: -50px;
    z-index: -5;
    border-radius: 0px 0px 0px 300px;
    opacity: 1;
    @media (max-width: $md3) {
      bottom: -300px;
    }
  }

  &__image {
    @media (max-width: $md3) {
      position: relative;
      min-height: 450px;
    }
    @media (max-width: $md5) {
      height: 100vw;
    }
  }

  &__image img {
    padding: 0 30px;

    @media (max-width: $md3) {
      padding: 0;
    }
  }

  &__body {
    position: absolute;
    z-index: 5;
    max-width: 645px;
    padding-right: 40px;

    @media (max-width: $md3) {
      position: static;
      margin-bottom: 25px;
      padding-right: 0;
    }
  }

  &__text {
    color: white;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
    @include adaptiv-font(24, 18, 1);
    @media (max-width: $md3) {
      color: $text-color;
    }
  }
}

/*=====================Swiper==========*/
.swiper {
  position: relative;
  padding: 0 30px;

  @media (max-width: $md3) {
    height: auto;
  }

  @media (max-width: $md5) {
    padding: 0px 10px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background-img {
    background-image: url("../img/homepage/swiper-after.jpg");
    background-repeat: no-repeat;

    @media (max-width: $md3) {
      background-size: cover;
    }
  }
  &__foreground-img {
    background-image: url("../img/homepage/swiper-before.jpg");
    background-repeat: no-repeat;
    width: 50%;
    @media (max-width: $md3) {
      display: none;
    }
  }

  &__slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(#f2f2f2, 0.1);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    @media (max-width: $md3) {
      background: none;
      &:hover {
        background: none;
      }
    }

    @include center;
    &::-webkit-slider-thumb {
      margin-left: 10px;
      visibility: hidden;
    }
    &::-moz-range-thumb {
      margin-left: 10px;
      visibility: hidden;
    }
  }

  &__slider-line {
    content: "";
    display: inline-block;
    background-color: white;
    height: 706px;
    width: 3px;
    position: relative;
    z-index: 1;
    @media (max-width: $md3) {
      display: none;
    }
  }

  &__slider-button {
    $size: 35px;
    pointer-events: none;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 2px solid white;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    z-index: 5;
    @include center;

    @mixin arrow-helper() {
      content: "";
      padding: 3px;
      display: inline-block;
      border: solid white;
      border-width: 0 2px 2px 0;
    }

    &:after {
      @include arrow-helper();
      transform: rotate(-45deg);
    }
    &:before {
      @include arrow-helper();
      transform: rotate(135deg);
    }
    @media (max-width: $md3) {
      display: none;
    }
  }

  &__wrap {
    position: relative;
    height: 706px;
    max-width: 1600px;
    margin: auto;

    @media (max-width: $md3) {
      height: 400px;
    }
  }
  &__wrap.container {
    @media (max-width: $md3) {
      padding: 0;
    }
  }

  &__title {
    max-width: 450px;
    font-weight: 400;
    @include adaptiv-font(40, 32, 1);
  }
  &__body {
    position: absolute;
    z-index: 50;

    @media (max-width: $md3) {
      position: relative;
      padding-bottom: 25px;
      top: 0;
    }
    @media (max-width: $md4) {
      padding-left: 15px;
    }
    @media (max-width: $md5) {
      padding-left: 0;
    }
  }

  &__text {
    color: black;
    margin-bottom: 25px;
    max-width: 460px;
    @include adaptiv-font(20, 18, 1);
  }
}
/*========================More=========*/
.more {
  .container {
    @media (max-width: $md4) {
      padding: 0;
    }
  }
  margin-bottom: 50px;
  &__title {
    text-align: center;
    @include adaptiv-font(40, 32, 1);
    font-weight: 700;
    @include adaptiv-value("margin-bottom", 40, 24, 1);
  }

  &__text {
    text-align: center;
    letter-spacing: 1.2px;
    padding: 0 46px;
  }

  &__wrap {
    background-color: #f0f4e9;
    max-width: 870px;
    margin: 0 auto;
    border-radius: 0px 0px 100px 100px;
    padding-top: 100px;
    padding-bottom: 90px;

    @media (max-width: $md3) {
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }
}
/*====================kitchens========*/
.top-images {
  .white-color {
    @media (max-width: $md3) {
      color: #000;
    }
  }
}

.kitchens {
  margin-bottom: 66px;

  &__body {
    display: grid;
    gap: 60px;
    position: relative;
    z-index: 3;
  }

  &__block {
    min-height: 900px;
    position: relative;

    @media (max-width: $md0) {
      min-height: 720px;
    }

    @media (max-width: $md3) {
      min-height: auto;
    }

    .container {
      height: 100%;
      position: relative;

      @media (max-width: $md3) {
        height: auto;
      }
    }
  }

  &__text-block {
    max-width: 520px;
    z-index: 2;
    position: absolute;
    margin-right: 20px;

    @media (max-width: $md3) {
      position: static;
      margin: 0;
      padding: 0;
      padding-bottom: 24px;
      margin-right: 0;
    }

    .button {
      margin-top: 24px;
    }
  }

  &__image {
    // img {
    //   @media (max-width: $md3) {
    //     position: static;
    //     padding-bottom: 24px;
    //   }
    // }

    @media (max-width: $md3) {
      position: relative;
      margin-bottom: 24px;
      min-height: 450px;
    }
    @media (max-width: $md5) {
      height: 100vw;
    }
  }

  &__border-radius {
    img {
      @media (max-width: $md3) {
        //border-radius: 0;
      }
    }
  }

  &__button {
    @media (max-width: $md3) {
      display: none;
    }
  }

  &__button-mobile {
    display: none;

    @media (max-width: $md3) {
      display: block;
      text-align: center;
    }
  }

  .white-color {
    @media (max-width: $md3) {
      color: #000;
    }
  }
}
/*========================stay=========*/
.stay {
  margin-bottom: 60px;
  &__text-block {
    max-width: 1215px;
    margin: 0 auto;
    background-color: #f0f4e9;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    @media (max-width: $md5) {
      text-align: left;
    }

    @media (max-width: $md3) {
      padding: 100px;
    }

    @media (max-width: $md4) {
      border-radius: 40px;
      padding: 40px;
      background-color: #d9e0ce;
    }

    // &:before {
    //   content: " ";
    //   position: absolute;
    //   background-color: #e1e5dc;
    //   height: 870px;
    //   width: 150vh;
    //   left: 40%;
    //   bottom: 100px;
    //   z-index: -5;
    //   border-radius: 150px 0px 0px 150px;
    //   opacity: 0.6;

    //   @media (max-width: $md3) {
    //     display: none;
    //   }
    // }
  }

  &__title {
    @include adaptiv-font(30, 22, 1);
    padding-bottom: 24px;
    @media (max-width: $md5) {
      font-weight: 700;
    }
  }

  &__text {
    padding-bottom: 20px;
    @include adaptiv-font(20, 14, 1);
  }

  &__button {
    text-align: center;
  }

  &__form {
    form {
      margin: auto;
    }
  }
}

/*========================about========*/
.about {
  @include adaptiv-value("padding-top", 130, 40, 1);
  @include adaptiv-value("padding-bottom", 390, 360, 1);
  margin-bottom: -320px;
  background-color: #f4ecec;
  border-radius: 300px 0px 0px 300px;
  @media (max-width: $md3) {
    border-radius: 120px 0 0 0;
  }

  @media (max-width: $md4) {
    border-radius: 75px 0 0 0;
  }

  .container {
    max-width: 1270px;
    padding: 0 100px;

    @media (max-width: $md3) {
      padding: 0 40px;
    }

    @media (max-width: $md4) {
      padding: 0 20px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 530px 1fr;
    justify-content: space-between;
    gap: 100px;

    @media (max-width: $md2) {
      grid-template-columns: 1fr 390px;
      gap: 50px;
    }

    @media (max-width: $md3) {
      grid-template-columns: 1fr;
    }
  }

  &__text-block {
    padding-top: 20px;

    @media (max-width: $md3) {
      padding: 0 10px;
    }
  }

  &__title {
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__item {
    padding-left: 20px;
    margin-left: 15px;
    position: relative;
    font-size: 24px;
    letter-spacing: 1.2px;
  }

  &__item:not(:last-child) {
    margin-bottom: 0px;
  }
  &__item:last-child {
    margin-bottom: 15px;
  }
  &__item:before {
    content: " ";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    top: 45%;
    left: 0;
  }

  &__figure {
    flex: 0 0 460px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
  }
  &__images {
    position: relative;
    height: auto;
    flex: 0 0 438px;

    @media (max-width: $md5) {
      flex: 0 0 100vw;
    }
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    top: 50%;
    background: transparent;

    @media (max-width: $md4) {
      display: none;
    }
  }

  &__arrow_before {
    transform: rotate(-135deg);
    left: -20px;
  }

  &__arrow_after {
    transform: rotate(45deg);
    right: -20px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    border-radius: 0px 200px 0px 0px;
    transition: 0.5s;
    opacity: 0;
  }

  &__image_active {
    opacity: 1;
  }

  &__pag {
    display: flex;
    width: 72px;
    gap: 15px;
    align-self: center;
  }
}
.pag {
  display: flex;
  width: 72px;
  gap: 15px;
  &__item {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
  }
  &__item_active {
    background-color: black;
  }
}
/*==================Blog===============*/
/*==================footer=============*/
