.catalog {
  &__filter-button {
    @include adaptiv-value("margin-bottom", 30, 24, 1);
  }

  &__selected-wrapper {
    @include adaptiv-value("padding-bottom", 24, 16, 1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto !important;
    max-width: 1488px;
  }
}

.filter-list {
  display: flex;
  column-gap: 6px;
  row-gap: 8px;
  flex-wrap: wrap;
  background: transparent !important;

  &__item {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__tag {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.4px;
    background-color: #000;
    border-radius: 25px;
    padding: 6px 18px;
    display: inline-block;
  }
}
