@import "bootstrap";
@import "twentytwenty";
@import "umspec";

.first-section {
  margin-top: 40px;
}
.button:hover {
  color: white;
}

.button_white:hover {
  color: black;
}

.footer__list {
  padding-left: 0;
}
