@import "bootstrap";
@import "twentytwenty";
@import "umspec";

.first-section {
  margin-top: 40px;
}
.button:hover {
  color: white;
}

.button_white:hover {
  color: black;
}

.footer__list {
  padding-left: 0;
}

.modal-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
