.button {
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 27px;
  border-radius: 58px;
  letter-spacing: 2.24px;
  display: inline-block;

  align-items: center;
  text-align: center;
}

.button_long {
  padding-left: 64px;
  padding-right: 64px;

  @media (max-width: $md4) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.button_white {
  color: black;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
