.button {
  color: #fff;
  background-color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 27px;
  border-radius: 58px;
  letter-spacing: 2.24px;
  display: inline-block;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  transition: all 0.3s ease;
  line-height: normal;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  @media (max-width: $md3) {
    padding: 10px 19px;
  }

  &_long {
    padding-left: 64px;
    padding-right: 64px;

    @media (max-width: $md4) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (max-width: $md5) {
      font-size: 14px;
    }
  }

  &_small {
    padding: 10px 19px;
  }
  &_medium {
    padding-left: 28px;
    padding-right: 28px;

    @media (max-width: $md4) {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  &_white {
    color: #000;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background-color: #000;
      color: #fff;
      border-color: #fff;
    }
  }

  &_more {
    color: black;
    background-color: #fff;
    padding: 30px 60px;
    width: auto !important;
    display: block;
    margin: auto;

    @media (max-width: $md3) {
      padding: 20px 30px;
    }

    &:hover {
      background-color: #000;
      color: #fff;
      border-color: #fff;
    }
  }
}
