.button {
  color: #fff;
  background-color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 27px;
  border-radius: 58px;
  letter-spacing: 2.24px;
  display: inline-block;

  align-items: center;
  text-align: center;

  &_long {
    padding-left: 64px;
    padding-right: 64px;

    @media (max-width: $md4) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &_white {
    color: black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
  }

  &_more {
    color: black;
    background-color: white;
    padding: 30px 60px;
    width: auto !important;

    @media (max-width: $md3) {
      padding: 20px 30px;
    }
  }
}
