.card {
  display: flex;
  row-gap: 20px;
  padding: 25px;
  flex-direction: column;
  border-radius: 10px 10px 100px 10px;
  position: relative;

  &__image img {
    width: 100%;
    height: 420px;
    border-radius: 100px 30px 100px 30px;
    object-fit: cover;

    @media (max-width: $md5) {
      height: 100%;
    }
  }

  &__image_long img {
    height: 500px;
  }

  &__body {
    display: grid;
    grid-template-columns: auto auto;

    & > * {
      align-self: start;
    }
  }

  &__title {
    @include adaptiv-font(30, 24, 1);
    padding-right: 24px;
  }

  &__title a {
    color: #000;
  }

  &__text {
    @include adaptiv-font(18, 14, 1);
  }
}

.card:nth-child(5n + 1) {
  background-color: #f3f1d5;
}
.card:nth-child(5n + 2) {
  background-color: #f2dcdc;
}
.card:nth-child(5n + 3) {
  background-color: #e2e9f2;
}
.card:nth-child(5n + 4) {
  background-color: #d9d9d9;
}
.card:nth-child(5n + 5) {
  background-color: #d9e0ce;
}
