.circle-button {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 30px;
  font-weight: 300;
  width: 231px;
  height: 231px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
