.features-slider {
  margin-bottom: 80px;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__item {
    width: 315px;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 50px 0px 100px 0px;

    padding: 0 30px;
    gap: 16px;

    @media (max-width: $md4) {
      height: 83px;
    }
  }

  &__item:nth-child(4n + 1) {
    background-color: #d9e0ce;
  }
  &__item:nth-child(4n + 2) {
    background-color: #e2e9f2;
  }
  &__item:nth-child(4n + 3) {
    background-color: #f2dcdc;
  }
  &__item:nth-child(4n + 4) {
    background-color: #f3f1d5;
  }
  &__icon {
    width: 50px;
    height: 50px;
    position: relative;
    @media (max-width: $md4) {
      width: 20px;
      height: 20px;
    }
  }
  &__icon:before,
  &__icon:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 2px;
    height: 100%;
    left: 50%;
    @media (max-width: $md4) {
      width: 1px;
    }
  }
  &__icon:after {
    transform: rotate(90deg);
  }

  &__text {
    @include adaptiv-font(30, 18, 1);
  }
}

/* Слайдер */
.slick-slider {
  margin: 0;
}
// .slider__list_active {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 900px;
//   background-color: black;
// }
/* Слайдер запущен */
.slick-slider.slick-initialized {
  overflow: auto;
  height: auto;
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
}
/* Слайд */
.slick-slide {
}
.slick-lightbox-slick-item.slick-slide {
  //w height: 750px;
  // flex: 0 0 auto;
  max-width: 100%;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
  width: 60px !important;
  height: 60px !important;

  @media (max-width: $md3) {
    display: none !important;
  }
}
.slick-arrow:before {
  font-size: 60px !important;
  position: relative !important;
  z-index: 10 !important;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slick-lightbox-close {
  height: 50px;
  width: 50px;
}

.slick-lightbox-close:before {
  font-size: 50px;
}

.slick-lightbox-slick-img {
  border: 20px solid #000;
  border-radius: 100px 0px;

  @media (max-width: $md4) {
    border-width: 5px;
    border-radius: 30px 0px;
  }
}
