.footer {
  background-color: black;
  color: white;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 74px 30px 100px 30px;
    gap: 50px;
    max-width: 2000px;
    margin: 0 auto;

    @media (max-width: $md2) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: $md4) {
      flex-direction: column;
      padding-bottom: 40px;
    }

    @media (max-width: $md5) {
      padding-left: 15px;
      padding-right: 15px;
      gap: 30px;

      align-items: center;
      text-align: center;
    }
  }

  &__column {
    flex: 0 0 600px;
    display: flex;
    flex-direction: row;
    gap: 0px 140px;

    @media (max-width: $md4) {
      flex: 0 0 auto;
      justify-content: space-between;
      gap: 0;
    }

    @media (max-width: $md5) {
      flex-direction: column;
      row-gap: 30px;

      align-items: center;
      text-align: center;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: row;
    gap: 0px 100px;

    @media (max-width: $md4) {
      gap: 20px;
      justify-content: space-between;
    }

    @media (max-width: $md5) {
      flex-direction: column;
      gap: 0;
    }

    a {
      color: #fff;
    }
  }

  &__logo {
    padding-bottom: 20px;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md4) {
      max-width: 240px;
    }
  }

  &__link {
    margin-bottom: 30px;

    @media (max-width: $md4) {
      display: none;
    }
  }

  &__link_mobile {
    display: none;

    @media (max-width: $md4) {
      display: inline-flex;
      margin-bottom: 30px;
    }
  }

  &__tel {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
    a {
      color: #fff;
    }
  }

  &__address {
    font-size: 18px;
    line-height: 130%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
  }

  &__item a {
    color: #fff;
    font-size: 18px;
  }
  &__item:not(:last-child) {
    margin-bottom: 7px;
  }
  &__item:last-child {
    margin-bottom: 30px;
  }

  &__logos {
    display: flex;
    background: #fff;
    padding: 50px;
    align-items: center;
    justify-content: center;
    column-gap: 95px;

    @media (max-width: $md3) {
      flex-direction: column;
      row-gap: 50px;
    }
  }
}
