.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 620px;
  text-align: left;

  &__label {
    display: flex;
    column-gap: 10px;
    @include adaptiv-font(20, 16, 1);
    max-width: 620px;
  }

  .select {
    width: 100%;
  }

  &__input {
    height: 46px;
    background-color: white;
    border-radius: 5px;
    width: 100%;

    padding-left: 10px;
    font-size: 14px;
  }
  &__input_high {
    height: 120px;
    padding: 10px;
  }

  &__privacy {
    padding-bottom: 15px;
  }

  &__privacy-caption {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__label-privacy {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    color: #696969;
  }

  &__label-privacy a {
    text-decoration: underline;
    color: #696969;
  }
  &__input-checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
    margin-right: 10px;
  }

  &__input-checkbox:before {
    content: " ";
    display: block;
    justify-self: flex-start;
    width: 12px;
    height: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0px;
    border: none;
    background-color: white;
    border-radius: 3px;
  }

  &__input-checkbox:after {
    content: " ";
    opacity: 0;
    background-color: #5a5a5a;
    position: absolute;
    justify-self: flex-start;
    padding: 6.5px;
    transform: translate(30%, 30%);
    transition-duration: 0.2s;

    background-color: black;
    border-radius: 0px;
  }

  &__input-checkbox:checked:after {
    opacity: 1;
  }

  &__submit {
    text-transform: uppercase;
    align-self: center;
    cursor: pointer;
  }
}
