.last-articles {
  @include adaptiv-value("padding-top", 120, 60, 1);
  @include adaptiv-value("padding-bottom", 120, 60, 1);
  background-color: #f3f1d5;
  border-radius: 300px 300px 0px 0px;
  @media (max-width: $md3) {
    border-radius: 200px 200px 0px 0px;
  }

  @media (max-width: $md4) {
    border-radius: 120px 120px 0px 0px;
  }

  @media (max-width: $md5) {
    border-radius: 80px 80px 0px 0px;
  }

  &__body {
  }

  .container {
    max-width: 2436px;
    padding-left: 30px;
    padding-right: 0;
  }

  &__text-block {
    padding-right: 20px;
  }

  &__title {
    @include title;
    text-align: center;
    @include adaptiv-font(40, 32, 1);
    padding-bottom: 16px;
  }

  &__subtitle {
    text-align: center;
    @include adaptiv-font(36, 24, 1);
    @include adaptiv-value("padding-bottom", 100, 40, 1);
  }

  &__list {
    display: flex;
    position: relative;
    overflow-x: auto;
  }

  /* Скрываем scrollbar для Chrome, Safari и Opera */
  &__list::-webkit-scrollbar {
    display: none;
  }

  /* Скрываем scrollbar для IE, Edge и Firefox */
  &__list {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 65px;
  }

  &__image {
    position: relative;
    width: 320px;
    height: 320px;
    margin-bottom: 40px;
  }
  &__image img {
    border-radius: 50%;
  }

  &__link {
    color: #5a5a5a;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    line-height: 150%;
    // display: flex;
    // flex-direction: row-reverse;
    // align-items: flex-start;
    // gap: 13px;

    &::after {
      position: relative;
      display: inline-block;
      content: "";
      background: url("../img/icons/link-arrow-1.svg") center right no-repeat;
      width: 21px;
      height: 17px;
      top: 3px;
    }
  }
}
