.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
  }

  &._active {
    overflow: auto;
    visibility: visible;
    &::before {
      opacity: 1;
    }
    .popup__body {
      //transition: all 0.3s ease 0.2s;
      transform: scale(1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    transform: scale(0);
    //transition: all 0.3s ease 0s;
    background-color: #f5f5f5;
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px 10px #75737333;
    position: relative;
    overflow: hidden;
    padding: 40px 55px 50px 55px;
    @media (max-width: $md4) {
      padding: 40px 35px 40px 35px;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    z-index: 30;
    color: #000;
    opacity: 0.5;
    font-size: 40px;
    line-height: 100%;
    font-weight: 300;
  }
  &__close_high {
    font-size: 70px;
    opacity: 1;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &__text_bold {
    font-weight: 700;
  }

  &__form {
  }
}

.popup-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__label {
    display: flex;
    @media (max-width: $md5) {
      flex-direction: column;
    }
  }

  &__input {
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 5px;
    width: 400px;
    margin-left: auto;
    padding-left: 10px;
    @media (max-width: $md5) {
      width: 100%;
    }
  }
  &__input_high {
    height: 80px;
  }

  &__privacy {
  }

  &__privacy-caption {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__label-privacy {
    display: flex;

    font-size: 14px;
    font-weight: 400;
  }
  &__input-checkbox {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
    margin-right: 10px;
  }

  &__input-checkbox:before {
    content: " ";
    display: block;
    justify-self: flex-start;
    width: 21px;
    height: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 0px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 3px;
  }

  &__input-checkbox:after {
    content: " ";
    opacity: 0;
    background-color: #5a5a5a;
    position: absolute;
    justify-self: flex-start;
    padding: 6.5px;
    transform: translate(30%, 30%);
    transition-duration: 0.2s;

    background-color: black;
    border-radius: 0px;
  }

  &__input-checkbox:checked:after {
    opacity: 1;
  }

  &__submit {
    text-transform: uppercase;
    align-self: flex-end;
  }
}

.select {
  position: relative;

  &__item {
    position: relative;
  }

  &__title {
    border-radius: 8px !important;
    border: 1px solid #dcdcdd;
    width: 100%;
    display: block;
    color: $text-color;
    background-color: #ffffff;
  }

  &__value {
    display: flex;
    height: 45px;
    padding: 12px 16px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    span {
      // height: 1em;
      //overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &:before {
      content: "";
      display: inline-block;
      transition: all 0.3s ease 0s;
      width: 14px;
      height: 9px;
      background: url("../img/shared/select-arrow-gray.svg") center / 100%
        no-repeat;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  &__options {
    color: $text-color;
    display: none;
    position: absolute;
    top: 43px;
    border-radius: 0 0 8px 8px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 10px 0px 5px 0px;
  }

  &__option {
    cursor: pointer;
    padding: 8px 16px;
    margin: 0px 0px 0px 0px;
  }
  &._active {
    z-index: 5;
    .select__value {
      &:before {
        transform: rotate(-180deg);
      }
    }
    .select__options {
      display: block;
    }
  }
}
