.select {
  position: relative;
  width: 400px;
  margin-left: auto;
  &__item {
    position: relative;
  }

  &__title {
    border-radius: 8px !important;
    border: 1px solid #dcdcdd;
    width: 100%;
    display: block;
    color: $text-color;
    background-color: #d9d9d9;
    font-size: 16px;
    cursor: pointer;
  }

  &__value {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 20px;
    span {
      // height: 1em;
      //overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &:before {
      content: "";
      display: inline-block;
      transition: all 0.3s ease 0s;
      width: 6px;
      height: 6px;
      border: 6px solid transparent;
      border-top: 6px solid #000;
      margin-right: 10px;
      margin-top: 6px;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }

  &__options {
    color: $text-color;
    display: none;
    position: absolute;
    top: 32px;
    border-radius: 8px;
    min-width: 100%;
    left: 0;
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
  }

  &__option {
    cursor: pointer;
    padding: 8px 16px;
    margin: 0px 0px 0px 0px;
  }
  &__option:hover {
    background-color: #ffffff;
  }
  &._active {
    z-index: 5;
    .select__value {
      &:before {
        transform: rotate(-180deg);
        transform-origin: 50% 20%;
      }
    }
    .select__options {
      display: block;
    }
  }
}
